{% extends "base.html.twig" %}

{% trans_default_domain 'mozaic' %}

{% block title %}
    Puzzle - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Daily photos</h1>

        <div class="row">
            {% for daily in lastPhotos %}
                <div class="col-lg-3 col-sm-6 my-2">
                    <a href="{{ path('disjfa_mozaic_puzzle_photo', {'unsplashPhoto': daily.unsplashPhoto.unsplashId}) }}" class="card">
                        <img src="{{ daily.unsplashPhoto | unsplash_photo_block }}" alt="" class="card-img img-fluid">
                        <div class="card-body">
                            {{ daily.unsplashPhoto.unsplashUser.name }}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
